﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Principal.Master" CodeBehind="Estanterias.aspx.vb" Inherits="APPWEB.Estanterias" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div>
    <table class="style1">
        <tr>
            <td style="text-align: center; color: #0000FF; text-decoration: underline">
                <strong>Mantenimiento Estanteria</strong></td>
        </tr>
        <tr>
            <td>
               <div id="CapaEstanteria" >
               </div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
    </table>
</div>

<script type="text/javascript" language="javascript">
</script>
</asp:Content>