﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Principal.Master" CodeBehind="FrmConfigEmp.aspx.vb" Inherits="APPWEB.FrmConfigEmp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <link href="../../Estilos/Imagen.css" rel="stylesheet" type="text/css" />
<div>

    <table class="style1" style="width: 119%">
        <tr>
            <td style="text-align: center; color: #0000FF; text-decoration: underline;">
                <strong style="text-align: left">Asignacion de Personal para Areas</strong></td>
        </tr>
        <tr>
            <td style="text-align: center; color: #0000FF">
                &nbsp;</td>
        </tr>
        <tr>
            <td>
             <div id='Capa'>
             </div>
             </td>
        
        </tr>
        <tr>
            <td>
                <table style="width: 100%">
                    <tr>
                        <td width: 109px;">

                         
                       

                         
                        </td>
                        <td>
                         <div id="CapaMant" style="border: 3px solid blue; padding: 4px; width: 600px;
            height: 900px; position: absolute; top: 100px; left: 560px; background-color: #EFFBFB;
            z-index: 3; display:block;">
                             <table class="style1" style="width: 113%">
                                 <tr>
                                     <td>
                                         <table class="style1">
                                             <tr>
                                                 <td colspan="3" 
                                                     style="text-align: center; color: #0000FF; text-decoration: underline;">
                                                     <strong>Asignar Zonas a Pickeador</strong></td>
                                             </tr>
                                             <tr>
                                                 <td style="text-align: right; width: 170px">
                                                     &nbsp;</td>
                                                 <td style="width: 257px">
                                                     &nbsp;</td>
                                                 <td>
                                                     &nbsp;</td>
                                             </tr>
                                             <tr>
                                                 <td style="text-align: right; width: 170px">
                                                     <b>Id :</b></td>
                                                 <td style="width: 257px">
                                                     <input id="TxtIdPickeador" type="text" /></td>
                                                 <td>
                                                     &nbsp;</td>
                                             </tr>
                                             <tr>
                                                 <td style="text-align: right; width: 170px">
                                                     <b>Nombre :</b></td>
                                                 <td style="width: 257px">
                                                     <input id="TxtNombrePickeador" style="width: 301px" type="text" /></td>
                                                 <td>
                                                     &nbsp;</td>
                                             </tr>
                                             <tr>
                                                 <td style="text-align: right; width: 170px">
                                                     <b>Fecha :</b></td>
                                                 <td style="width: 257px">
                                                          <asp:TextBox ID="TxtFechaFin" runat="server" ></asp:TextBox>                                         
                                           <cc1:calendarextender ID="Calendarextender1" runat="server" 
                                           TargetControlID="TxtFechaFin"  Format="dd/MM/yyyy"  />
                                                 </td>
                                                 <td>
                                                     &nbsp;</td>
                                             </tr>
                                             <tr>
                                                 <td style="text-align: right; width: 170px">
                                                     <b>Zona Almacenamiento :</b></td>
                                                 <td style="width: 257px">
                                                     <select id="cmbZonaAlm" name="D3" style="width: 300px">
                                                         <option></option>
                                                     </select></td>
                                                 <td>
                                                     &nbsp;</td>
                                             </tr>
                                             <tr>
                                                 <td style="text-align: right; width: 170px">
                                                     <strong>Zona Rotacion :</strong></td>
                                                 <td style="width: 257px">
                                                     <select id="cmbZonaRota" name="D4" style="width: 301px">
                                                         <option></option>
                                                     </select></td>
                                                 <td>
                                                     &nbsp;</td>
                                             </tr>
                                         </table>
                                     </td>
                                 </tr>
                                 <tr>
                                     <td style="height: 172px">
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         &nbsp;</td>
                                 </tr>
                             </table>
                         </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="style1">
                    <tr>
                        <td style="width: 655px">
                            &nbsp;</td>
                        <td>
                            &nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
 <div id="CapaPickeador" style="border: 3px solid blue; padding: 4px; width: 550px;
            height: 900px; position: absolute; top: 100px; left: 20px; background-color: #EFFBFB;
            z-index: 3; display:block;">
 </div> 

<div id="CapaMantenimiento" style="border: 3px solid blue; padding: 4px; width: 750px;
            height: 1200px; position: absolute; top: 0px; left: 250px; background-color: #EFFBFB;
            z-index: 3; display:none;">
             <table border="0" cellspacing="0px" style="width: 750px">
                   <tr>
                    <td>
                          <table border="0">
                                        <tr class="BarraTitulo">
                                        <td style="width:96%; background-color: #0066CC;"><span id="TituloPopup"></span></td>
                                        <td style="width:4%"><img src='../../ImagenesForm/imgcerrar.png' class="Iconoventanas" 
                                                title="Cerrar Ventana" onclick="return cerrardetalle()"/></td>
                                        </tr>
                          </table>
                    </td>
                    </tr>
                    <tr>
                    <td>

             <div id="TablaMantenimiento">
                 <table class="style1" style="width: 98%">
        <tr>
            <td colspan="6" style="text-align: right">
                <b></b>
                <table class="style1">
                    <tr>
                        <td style="width: 40px">
                            Id :</td>
                        <td style="width: 55px">
                <input id="txtId" type="text" readonly style="width: 77px"/></td>
                        <td style="width: 125px">
                            Nombre Personal :</td>
                    
                        <td style="width: 245px">
                          <input id="txtNombrePersonal" style="width: 307px" type="text" />
                        </td>
                           <td class="style2" style="width: 17px">
                        </td>
                <td>
                       
                        <input id="btnAgregar" style="width: 99px" type="button" value="Agregar"  onclick="return btnAgregar_onclick(this)"/></td>

                    </tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td style="text-align: right; width: 171px" colspan="2">
                &nbsp;</td>
        
        </tr>
        <tr>
            <td style="text-align: justify; width: 171px" colspan="2">
             <div id="CapaEmpleados"></div></td>
        </tr>
    </table>
      </td>
         </tr>
                    </table>
                

             </div>
 
<script type="text/javascript" language="javascript">
    
    window.onload = varios();


    function varios() {
        ConsultaPersonal();

    }

    function btnAgregar_onclick(objeto) {

        var txtId = document.getElementById("txtId").value;
        var txtNombre = document.getElementById("txtNombrePersonal").value;

        if (txtId == "") {
            return false;
        }
        if (txtNombre == "") {
            return false;
        }

        AgregarPersonal(objeto)
    }


    function AgregarPersonal(objeto) {

        var opcion = "GuardarPersonal";
        var IdEstado = null;


        var txtId = document.getElementById('txtId').value;
        var txtNombrePersonal = document.getElementById('txtNombrePersonal').value;


        var datarep = new FormData();
        datarep.append('flag', 'GuardarPersonal');

        datarep.append('txtId', txtId);
        datarep.append('txtNombrePersonal', txtNombrePersonal);

        var xhrrep = new XMLHttpRequest();
        xhrrep.open("POST", "FrmConfigEmp.aspx?flag=" + opcion + "&txtId=" + txtId + "&txtNombrePersonal=" + txtNombrePersonal , true);

        xhrrep.onloadstart = function () { objeto.disabled = true; objeto.value = "Procesando..."; }
        xhrrep.onloadend = function () { objeto.disabled = false; objeto.value = "Guardando"; }

        xhrrep.onreadystatechange = function () {

            if (xhrrep.readyState == 4 && xhrrep.status == 200) {

                document.getElementById("txtId").value = "";
                document.getElementById("txtNombrePersonal").value = "";
                ConsultaPersonal();
            }
        }
        xhrrep.send(datarep);
        return false;

    }


    function ConsultaPersonal() {

        var opcion = "ConsultaPersonal";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "FrmConfigEmp.aspx?flag=" + opcion, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                fun_listarEmpMilla(xhr.responseText);
            }
        }
        xhr.send(null);
        return false;

    }

    function ConsultaEmpleados() {
        var opcion = "ConsultaEmpleados";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "FrmConfigEmp.aspx?flag=" + opcion, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                fun_listaEmpleados(xhr.responseText);
            }
        }
        xhr.send(null);
        return false;
    }

    function NuevoEmpleado() {

        document.getElementById('CapaMantenimiento').style.display = 'block';
        var opcion = "ConsultaEmpleados";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "FrmConfigEmp.aspx?flag=" + opcion, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                fun_listaConsultaEmpleados(xhr.responseText);
            }
        }
        xhr.send(null);
        return false;
    }

    var matrizmill = [];
    var indiceOrdenMill = 0;
    var tipoOrdenMill = 0;
    var indicePaginaMill = 0;
    var registrosPaginaMill = 20;

    function fun_listarEmpMilla(listamill) {
        filasmill = listamill.split("▼");
        crearTablaEmpMill();
        crearMatrizEmpMill();
        mostrarMatrizEmpMill();
//      configurarFiltros();
    }

    function fun_listaConsultaEmpleados(lista) {
        filas = lista.split("▼");
        crearTabla();
        crearMatriz();
        mostrarMatriz();
        configurarFiltros();
    }

    var matriz = [];
    var indiceOrden = 0;
    var tipoOrden = 0;
    var indicePagina = 0;
    var registrosPagina = 20;


    function crearpaginacion() {
        var contenido = "";
        var nregistros = matriz.length;
        if (nregistros > registrosPagina) {
            var indiceultimapagina = Math.floor(nregistros / registrosPagina);
            if (nregistros % registrosPagina == 0) indiceultimapagina--;
            for (var i = 0; i <= indiceultimapagina; i++) {
                contenido += "<input type='buton' value='";
                contenido += (i + 1).toString();
                contenido += "'class='Paginacion'/>";
            }
        }
        document.getElementById("tdPagina").innerHTML = contenido;
        configurarpaginacion();
    }

    function configurarpaginacion() {
        var paginas = document.getElementsByClassName("Paginacion")
        var pagina;
        var nPaginas = paginas.length;
        for (var i = 0; i < nPaginas; i++) {
            pagina = paginas[i];
            pagina.onclick = function () {
                indicePagina = (this.value * 1) - 1;
                mostrarMatriz();
            }
        }
    }



    function configurarFiltros() {
        var textos = document.getElementsByClassName("texto");
        var nTextos = textos.length;
        var texto;
        for (var j = 0; j < nTextos; j++) {
            texto = textos[j];
            texto.onkeyup = function () {
                crearMatriz();
                mostrarMatriz();
            }
        }
    }


    function crearTablaEmpMill() {
        var nRegistros = filasmill.length;
        var cabeceras = ["", "IdEmpleado","NombreEmpleado","Codigo"];

        var nCabeceras = cabeceras.length;
        var contenido = "<table><thead>";
        contenido += "<tr class='GrillaHeader'>";

        for (var j = 0; j < nCabeceras; j++) {

            if (j == 0) {
                contenido += "<th>";
                contenido += "<input id='btnNuevo' type='image' img src='../../ImagenesForm/imgnuevo.png' onclick='return NuevoEmpleado()' >";
                contenido += "</th>";
            }
            if (j > 0) {
                contenido += "<th>";
                contenido += "<input type='text' class='texto' style='width:95%' placeholder='" + cabeceras[j] + "'/>";
                contenido += "</th>";
            }
        }
        contenido += "</tr></thead><tbody id='tbDocumentosb' class='GrillaRow'>";
        contenido += "</tbody><tfoot><tr class='FilaCabecera' style='text-align:center'><td id='tdPaginab' colspan='";
        nCampos = nCabeceras + 1;
        contenido += nCabeceras.toString();
        contenido += "'>&nbsp;</td></tr></tfoot>";
        contenido += "</table>";
        var div = document.getElementById("CapaPickeador");
        div.innerHTML = contenido;
    }


    function crearTabla() {
        var nRegistros = filas.length;
        var cabeceras = ["", "IdEmpleado", "NombreEmpleado", "DNI"];
        
        var nCabeceras = cabeceras.length;
        var contenido = "<table><thead>";
        contenido += "<tr class='GrillaHeader'>";

        for (var j = 0; j < nCabeceras; j++) {

            if (j == 0) {
                contenido += "<th>";
                contenido += "<input id='btnNuevo' type='image' img src='../../ImagenesForm/imgnuevo.png'>";
                contenido += "</th>";
            }
            if (j > 0) {
                contenido += "<th>";
                contenido += "<input type='text' class='texto' style='width:95%' placeholder='" + cabeceras[j] + "'/>";
                contenido += "</th>";
            }
        }
        contenido += "</tr></thead><tbody id='tbDocumentos' class='GrillaRow'>";
        contenido += "</tbody><tfoot><tr class='FilaCabecera' style='text-align:center'><td id='tdPagina' colspan='";
         nCampos = nCabeceras + 1;
        contenido += nCabeceras.toString();
        contenido += "'>&nbsp;</td></tr></tfoot>";
        contenido += "</table>";
        var div = document.getElementById("CapaEmpleados");
        div.innerHTML = contenido;


    }


    function crearMatrizEmpMill() {
        matrizmill = [];
        var nRegistros = filasmill.length;
        var nCampos;
        var campos;
        var c = 0;
        var exito;
        var textos = document.getElementsByClassName("texto");
        var nTextos = textos.length;
        var texto;
        var x;
        for (var i = 0; i < nRegistros; i++) {
            exito = true;
            campos = filasmill[i].split("|");
            nCampos = campos.length;
            for (var j = 0; j < nTextos; j++) {
                texto = textos[j];
                x = j;
                if (x < 10) {
                    if (texto.value.length > 0) {
                        if (campos[x] != campos[0]) {
                            exito = campos[x].toLowerCase().indexOf(texto.value.toLowerCase()) > -1;
                        }
                    }
                }
                if (x == 10 && x < 13) {
                    if (texto.value.length > 0) {
                        if (campos[x] != campos[0]) {
                            exito = campos[x].toLowerCase().indexOf(texto.value.toLowerCase()) > -1;
                        }
                    }
                }

                if (!exito) break;
            }
            if (exito) {
                matrizmill[c] = [];
                for (var j = 0; j < nCampos; j++) {
                    if (isNaN(campos[j])) matrizmill[c][j] = campos[j];

                    else matrizmill[c][j] = campos[j];
                }
                c++;
            }
        }

    }

    function crearMatriz() {
        matriz = [];
        var nRegistros = filas.length;
        var nCampos;
        var campos;
        var c = 0;
        var exito;
        var textos = document.getElementsByClassName("texto");
        var nTextos = textos.length;
        var texto;
        var x;
        for (var i = 0; i < nRegistros; i++) {
            exito = true;
            campos = filas[i].split("|");
            nCampos = campos.length;
            for (var j = 0; j < nTextos; j++) {
                texto = textos[j];
                x = j;
                if (x < 10) {
                    if (texto.value.length > 0) {
                        if (campos[x] != campos[0]) {
                            exito = campos[x].toLowerCase().indexOf(texto.value.toLowerCase()) > -1;
                        }
                    }
                }
                if (x == 10 && x < 13) {
                    if (texto.value.length > 0) {
                        if (campos[x] != campos[0]) {
                            exito = campos[x].toLowerCase().indexOf(texto.value.toLowerCase()) > -1;
                        }
                    }
                }

                if (!exito) break;
            }
            if (exito) {
                matriz[c] = [];
                for (var j = 0; j < nCampos; j++) {
                    if (isNaN(campos[j])) matriz[c][j] = campos[j];

                    else matriz[c][j] = campos[j];
                }
                c++;
            }
        }
    }


    function mostrarMatrizEmpMill() {
        var nRegistros = matrizmill.length;
        var contenido = "";
        if (nRegistros > 0) {
            var nCampos = matrizmill[0].length;
            var inicio = indicePaginaMill * registrosPaginaMill;
            var fin = inicio + registrosPaginaMill;

            if (nRegistros < 20) {
                fin = nRegistros;
            }

            for (var i = inicio; i < fin; i++) {

                for (var j = 0; j < nCampos; j++) {

                    if (j == 0) {
                        contenido += "<td>";
                        contenido += "<input id='btnmas' type='image' img src='../../ImagenesForm/imgeditar.png' onclick='return MostrarDetalleEmp(";
                        contenido += matrizmill[i][0];
                        contenido += ',"' + matrizmill[i][1] + '"';
                        contenido += "," + '"' + matrizmill[i][2] + '"';

                        contenido += ")' >";
                        contenido += "</td>";
                        contenido += "<td>";
                        contenido += matrizmill[i][j];
                        contenido += "</td>";
                    }

                    if (j > 0) {
                        contenido += "<td>";
                        contenido += matrizmill[i][j];
                        contenido += "</td>";
                    }
                }
                contenido += "</tr>";
            }
        }
        var spnMensaje = document.getElementById("nroFilasb");
        var tabla = document.getElementById("tbDocumentosb");
        tabla.innerHTML = contenido;
//      crearpaginacion();

    }

    function mostrarMatriz() {
        var nRegistros = matriz.length;
        var contenido = "";
        if (nRegistros > 0) {
            var nCampos = matriz[0].length;
            var inicio = indicePagina * registrosPagina;
            var fin = inicio + registrosPagina;
            
            if (nRegistros < 20) {
              fin=nRegistros;
            }
            
            for (var i = inicio; i < fin; i++) {

                for (var j = 0; j < nCampos; j++) {

                    if (j == 0) {
                        contenido += "<td>";
                        contenido += "<input id='btnmas' type='image' img src='../../ImagenesForm/imgelegir.png' onclick='return MostrarDetalle(";
                        contenido += matriz[i][0];
                        contenido += ',"' + matriz[i][1] + '"';
                        contenido += "," + '"' + matriz[i][2] + '"';
                   
                        contenido += ")' >";
                        contenido += "</td>";
                        contenido += "<td>";
                        contenido += matriz[i][j];
                        contenido += "</td>";
                    }

                    if (j > 0) {
                        contenido += "<td>";
                        contenido += matriz[i][j];
                        contenido += "</td>";
                    }
                }
                contenido += "</tr>";
             
            }
        }
        var spnMensaje = document.getElementById("nroFilas");
        var tabla = document.getElementById("tbDocumentos");
        tabla.innerHTML = contenido;
        crearpaginacion();
    }


    function MostrarDetalle(idpersona,nombrepersona,dni)
    { 
   
        document.getElementById('txtId').value = idpersona;
        document.getElementById('txtNombrePersonal').value = nombrepersona;
        return false;

    }

    function cerrardetalle() {

        document.getElementById('CapaMantenimiento').style.display = 'none';

        return false;
    
    }

    function MostrarDetalleEmp(Id,Nombre,codigo) {

        document.getElementById('CapaMant').style.display = 'block';
        document.getElementById('TxtIdPickeador').value = Id;
        document.getElementById('TxtNombrePickeador').value = Nombre;
        return false;

    }

</script>
</asp:Content>