﻿
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Conceptos</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn-danger">Ingresar Nuevo</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">
                            Total Ingresado:
                        </label>
                    </div>
                    <div class="col-md-3">
                        S/.<input type="text" class="form-control" />                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>