﻿@using Negocio;
@using Entidades;
@{
    int idpersona;
    idpersona = Convert.ToInt32(Session["IdUsuario"]);
    List<Opcion> listamenu = new List<Opcion>();
    List<Opcion> listamenucabecera = new List<Opcion>();
    List<Opcion> listadomenuitems = new List<Opcion>();
    if (idpersona != 0)
    {
        Negocio.Persona objpersona = new Negocio.Persona();
        Negocio.EmpresaTiendaUsuario objempresa = new Negocio.EmpresaTiendaUsuario();

        string descripcionpersona = objpersona.getDescripcionPersona(idpersona);
        //string fechaactual = Format((New Negocio.FechaActual).SelectFechaActual)

        string tienda = objempresa.fn_GetTiendaPrincipal(idpersona);
        //TRAER MENU DE USUARIO
        Negocio.opcion objopcion = new Negocio.opcion();
        listamenu = objopcion.SelectOpcionxUsuario(idpersona);
        listamenucabecera = listamenu.FindAll(a => a.IdMenu == 1);
        listadomenuitems = listamenu.FindAll(a => a.IdMenu !=1);
        //CARGAR TIPO CAMBIO SOLES Y DOLARES
    }
    else
    {
         @Url.Action("IniciarSesion", "Seguridad");
    }

}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Style/Menu.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
@*<header class="header" role="banner">
    <img src="~/img/Banner.png" /></header>*@

<nav class="navbar navbar-default" style="width:100%">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")" style="color:white">SANICENTER</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @{

                    if (listamenucabecera.Count > 0)
                    {
                        foreach (Opcion item in listamenucabecera)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>@item.Nombre</a>
                                <ul class="dropdown-menu">
                                    @foreach (Opcion submenu in listadomenuitems)
                                    {
                                        if (item.Id.Equals(submenu.IdMenu))
                                        {
                                            if (submenu.Nombre == "Apertura / Cierre de Caja")
                                            {
                                                <li>
                                                    <a href="@Url.Action("Index","Caja")">
                                                        <span aria-hidden="true"></span>
                                                        @submenu.Nombre
                                                    </a>
                                                </li>
                                            }
                                            else if (submenu.Nombre == "Facturación")
                                            {
                                                <li>
                                                    <a href="@Url.Action("Facturación","Caja")">
                                                        <span aria-hidden="true"></span>
                                                        @submenu.Nombre
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Usuario<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" target="_blank"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> User Settings</a></li>
                        <li><a href="@Url.Action("IniciarSesion","Seguridad")"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


@*LLENAR EL TIPO DE CAMBIO*@
<div class="crumbs" style="width:100%;">
    <ul id="breadcrumbs" class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <label>Tienda: PALAO 9</label>
        </li>
        <li>
            <label>T.C.SUNAT($):3.302</label>
        </li>
        <li>
            <label>T.C.INTERNO($):3.280</label>
        </li>
        <li>
            <a href="#" title="">
                <i class="icon-calendar"></i>
                <span>@DateTime.Now.ToString("dddd, dd MMMM yyyy")</span>
            </a>
        </li>
    </ul>
</div>