﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIGE</title>    
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/Content/js")
</head>
<body>
    @Html.Partial("_Header")    
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sanicenter</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
