﻿
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Punto de Partida</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label">
                            Departamento:
                        </label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" ID="cbodepartamentopartida"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Provincia:
                        </label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" ID="cboProvinciapartida"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Distrito:
                        </label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" ID="cboDistritopartida"></select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2">
                        <label class="control-label">
                            Dirección:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
