﻿
@{
    ViewBag.Title = "EmitirCotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .row panel {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }
</style>

<div class="body-content">
    <div class="row">
        <div class="col-md-2">
            <h3>Emitir Cotizacion</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnNuevo" style="width:80%;margin-top:10px;">
                <span>Nuevo</span>
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnBuscar" style="width:80%;margin-top:10px;">
                <span>Buscar</span>
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnGuardar" style="width:80%;margin-top:10px;">
                <span>Guardar</span>
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnDocumento" style="width:80%;margin-top:10px;">
                <span>Documento Refer</span>
            </button>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cotización</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Empresa</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboEmpresa" class="form-control"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Tienda:</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboTienda" class="form-control"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Serie:</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboSerie" class="form-control"></select>
                        </div>
                        <div class="col-md-1">
                            <input type="text" ID="txtCodigoDocumento" class="form-control" onkeypress="return(valOnKeyPressCodigoDoc(this, event));" />
                        </div>
                    </div>
                    @*<img ImageUrl="~/Caja/iconos/ok.gif" class="form-control col-md-1" OnClientClick="return( valOnClickBuscarDocumentoxCodigo());" />
                        <a ID="btnBusquedaAvanzado" OnClientClick="return(  valOnClick_btnBusquedaAvanzado()  );" class="Texto col-md-1"></a>*@
                    @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                        <div class="form-group">
                        </div>
                                    </div> *@
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Fecha Emision</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtFechaEmision" onblur="return(valFecha(this));" class="ui-datepicker" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Moneda</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboMoneda" class="form-control" style="Width:100%"
                                    onKeyup="return(valOnChange_cboMoneda());"
                                    onKeypress="return(valOnChange_cboMoneda());"
                                    onClick=" return(valOnChange_cboMoneda());"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Estado</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" id="cboEstado"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Tipo Operación:</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" ID="cboTipoOperacion" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Motivo Traslado:</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" ID="cboMotivoTraslado" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Condición:</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" ID="cboCondicionPago" style="width:100%;"></select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Medio de Pago:</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" ID="cboMedioPago" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Fecha Vcto:</label>
                        </div>
                        <div class="col-md-2">
                            <input id="txtFechaVcto" class="form-control ui-datepicker" style="Width:100px;" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Fecha a Entregar:</label>
                        </div>
                        <div class="col-md-2">
                            <input id="txtFechaAEntregar" class="ui-datepicker" style="Width:100px;" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Almacen Refer:</label>
                        </div>
                        <div class="col-md-11">
                            <select class="form-control" ID="cboAlmacenReferencia" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-2">
                            <label class="control-label">
                                Vendedor:
                            </label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-control col-md-10" ID="cboUsuarioComision"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Maestro de Obra</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cliente</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de Productos</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Punto de Partida</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>



    @Html.Partial("~/Shared/_Conceptos.cshtml");

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Observaciones</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <textarea class="form-control col-md-12"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })
</script>
