﻿@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, body {
    font-family: 'Lato', serif;
}

.navbar-default {
    font-size: 1.15em;
    font-weight: 400;
    background-color: #006b96;
    padding: 10px;
    border: 0px;
    border-radius: 0px;
}

    .navbar-default .navbar-nav > li > a {
        color: white;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: #cbf0ff;
        }

    .navbar-default .navbar-brand {
        color: #002433;
    }

        .navbar-default .navbar-brand:hover {
            color: #ffffff;
            text-shadow: 1px -1px 8px #b3e9ff;
        }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #004059;
        color: white;
    }

    .navbar-default .navbar-toggle {
        border: none;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #002433;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

.dropdown-menu {
    background-color: #004059;
    color: white;
    border: 0px;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .dropdown-menu > li > a {
        background-color: #004059;
        color: white;
    }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color: #004059;
            color: white;
        }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #003246;
    }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
}

@media (max-width: 767px) {
    .dropdown-menu > li > a {
        background-color: #006b96;
        color: #ffffff;
    }

        .dropdown-menu > li > a:hover {
            color: #ffffff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #ffffff;
        background-color: transparent;
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #005577;
    }
}
/* END M
