﻿
@{
    ViewBag.Title = "Facturacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row panel {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }
</style>

<div class="body-content">
    <div class="row">
        <div class="col-md-2">
            <h3>Facturación</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnNuevo" style="margin-top:10px;">
                <span>Nuevo</span>
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnBuscar" style="margin-top:10px;">
                <span>Buscar</span>
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnGuardar" style="margin-top:10px;">
                <span>Guardar</span>
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnRecalcular" style="margin-top:10px;">
                <span>Recalcular</span>
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary button-submit" id="btnImprimirFactura" style="margin-top:10px;">
                <span>Imprimir Factura</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Facturación - Caja</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1">
                            <label class="control-label">Tipo Documento:</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboTipoDocumento" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Empresa:</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboEmpresa" class="form-control"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Tienda:</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboTienda" class="form-control"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Serie:</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboSerie" class="form-control"></select>
                        </div>
                        <div class="col-md-1">
                            <input type="text" ID="txtCodigoDocumento" class="form-control" onkeypress="return(valOnKeyPressCodigoDoc(this, event));" />
                        </div>
                    </div>
                    @*<img ImageUrl="~/Caja/iconos/ok.gif" class="form-control col-md-1" OnClientClick="return( valOnClickBuscarDocumentoxCodigo());" />
                        <a ID="btnBusquedaAvanzado" OnClientClick="return(  valOnClick_btnBusquedaAvanzado()  );" class="Texto col-md-1"></a>*@
                    @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                        <div class="form-group">
                        </div>
                                    </div> *@
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Fecha Emision</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtFechaEmision" onblur="return(valFecha(this));" class="ui-datepicker" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Moneda</label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboMoneda" class="form-control" style="Width:100%"
                                    onKeyup="return(valOnChange_cboMoneda());"
                                    onKeypress="return(valOnChange_cboMoneda());"
                                    onClick=" return(valOnChange_cboMoneda());"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Estado</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" id="cboEstado"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Tipo Operación:</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" ID="cboTipoOperacion" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Caja:</label>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" ID="cboCaja" style="width:100%;"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Fecha a Entregar:</label>
                        </div>
                        <div class="col-md-4">
                            <input id="txtFechaEntregar" class="form-control ui-datepicker" style="Width:100px;" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Fecha Vcto:</label>
                        </div>
                        <div class="col-md-2">
                            <input id="txtFechaVcto" class="form-control ui-datepicker" style="Width:100px;" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Fecha a Entregar:</label>
                        </div>
                        <div class="col-md-2">
                            <input id="txtFechaAEntregar" class="ui-datepicker" style="Width:100px;" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label">Almacen Refer:</label>
                        </div>
                        <div class="col-md-11">
                            <select class="form-control" ID="cboAlmacenReferencia" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <label class="control-label ">
                            Vendedor:
                        </label>
                        <div class="col-md-10">
                            <select class="form-control col-md-10" ID="cboUsuarioComision"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cotización de Referencia</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label ">Documento:</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ID="cboTipoOperacion" style="width:100%;"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Tipo Operación:</label>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Fecha Emision</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtFechaEmision" onblur="return(valFecha(this));" class="ui-datepicker" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label">Fecha Vencimiento</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtFechaVencimiento" onblur="return(valFecha(this));" class="ui-datepicker" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label ">
                                Cliente:
                            </label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="txtcliente" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                DNI:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtdni" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                RUC:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtruc" class="form-control" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label ">
                                Condición Pago:
                            </label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="txtcondicion" class="form-control" disabled />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                Medio Pago:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtmediopago" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                Credito(dias):
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtcredito" class="form-control" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label ">
                                Total:
                            </label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="txttotal" class="form-control" disabled />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                Percepción:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtpercepcion" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                Total a pagar:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txttotalpagar" class="form-control" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label ">
                                Observaciones:
                            </label>
                        </div>
                        <div class="col-md-11">
                            <textarea class="form-control col-md-12"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Maestro de Obra</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label ">
                                Maestro:
                            </label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control col-md-12" />
                        </div>
                        <div class="col-md-1">
                            <a href="" class="btn-primary">Buscar</a>
                        </div>
                        <div class="col-md-1">
                            <a href="" class="btn-primary">Limpiar</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1">
                            <label class="control-label ">
                                DNI:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtdni" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                RUC:
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtruc" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cliente</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="" class="btn-primary">Buscar</a>
                        </div>
                        <div class="col-md-1">
                            <a href="" class="btn-primary">Nuevo</a>
                        </div>
                        <div class="col-md-1">
                            <a href="" class="btn-primary">Editar</a>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                Tipo Persona:
                            </label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboTipoPersona" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="control-label ">
                                Ap. Paterno:
                            </label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="txtapellido" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                Ap. Materno:
                            </label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="txtapellido" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="control-label ">
                                DNI:
                            </label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtdnicliente" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                RUC:
                            </label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtruccliente" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label ">
                                Precio de Venta:
                            </label>
                        </div>
                        <div class="col-md-2">
                            <select ID="cboPrecioVenta" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="control-label ">
                                Dirección:
                            </label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" id="txtdireccion" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="control-label ">
                                Tipo Agente:
                            </label>
                        </div>
                        <div class="col-md-5">
                            <select ID="cboTipoAgente" class="form-control"></select>
                        </div>
                        <div class="col-md-1">
                            <label class="control-label ">
                                Tasa del Agente%:
                            </label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtTasaAgente" value="0" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de Productos</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Punto de Partida</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Punto de Llegada</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>


    @Html.Partial("Shared/_Conceptos.cshtml");

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Régimen de Operación // Retención - Detracción</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos de Cancelación</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Vehículo</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Observaciones</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <textarea class="form-control col-md-12"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })
</script>
