﻿/*
'                            ADVERTENCIA
'Esta es una copia  del producto autorizada de DIGRAFIC  SRL.,  a SANICENTER SAC.,  en virtud al 
'contrato celebrado por ambas empresas, a fin de que el personal de  Sanicenter pueda efectuar las 
'modificaciones UNICAMENTE para los procesos de SANICENTER.
'Está prohibida su reproducción total o parcialmente.
'Si Ud. Tiene una copia de estos programas fuentes y quiere usarlos para otros fines que no sean 
'los descritos en el primer párrafo,  va a ser detectado y enjuiciado por la Empresa y DIGRAFIC  SRL. 
'De acuerdo a la ley de protección de los Derechos de Autor y la propiedad intelectual.

*/

.Faltante
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
    background: #EFF5FB;
    font-weight: bold;
    text-align: right;
}

.Vuelto
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
    background: #E6F8E0;
    font-weight: bold;
    text-align: right;
}

.TextoRight
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-align: right;
}

.LabelLeft
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    text-align: left;
}


.LabelTab
{
    font-size: small;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    text-align: right;
}



.TextBox_Fecha
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
    background: #FFFFCC;
    font-weight: bold;
    }

.TextBox_CodigoBarras
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
    background: #FFFAF0;
    font-weight: bold;
    text-align: left;
}



.SubTituloCelda
{
    font-size: smaller;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: #61941D;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.TituloCeldaLeftAzul
{
    font-size: smaller;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: #61941D;
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
}

.Label
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #0000CC;
    text-align: right;
    font-weight: normal; /*Para que no herede la negrita de los componentes q lo contienen*/
}
.LabelIzqui
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #0000CC;
    text-align: left;
    font-weight: normal;
}


.LabelLeft
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    text-align: left;
}

.Label_Print
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: Black;
}
.Label_Print_Detalle
{
    font-size: 9pt;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: Black;
}

.Label_Print_DetalleGlosa
{
    font-size: 8pt;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: Black;
}

.Texto
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #0000FF;
    text-align: right;
}

.CajaTexto
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
    text-align: center;
}

.FacturaCab
{
    font-size: 6pt;
    font-family: Arial;
    color: Black;
}
.FacturaDet
{
    font-size: 6pt;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: Black;
}

.LabelTab
{
    font-size: small;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    text-align: right;
}

.GroupBox
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    font-size: smaller;
}
.ControlValidacion
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: Red;
}
.TituloLabel
{
    font-size: smaller;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FFFFFF;
}
.TituloLinks
{
    font-size: smaller;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: Yellow;
    text-align: left;
}
.LabelRojo
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
}



.TextBox_ReadOnly
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
    background: #FFFFCC;
    font-weight: bold;
    text-align: right;
}

.TextBox_ReadOnlyLeft
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
    background: #FFFFCC;
    font-weight: bold;
    text-align: left;
}

.LabelBlanco
{
    font-size: small;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
.ComboRojo
{
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
}
.Combo
{
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.TextoRojo
{
    font-size: smaller;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
}
.TextoRojoMedium
{
    font-size: Medium;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #FF0000;
}

.TituloCelda
{
    font-size: smaller;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: #4277AD;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
.TituloCeldaLeft
{
    font-size: smaller;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: #4277AD;
    color: #FFFFFF;
    text-align: left;
    text-transform: uppercase;
}
.GrillaHeaderDistribucion
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 7pt;
    color: #E8E8E8;
    background-color: #5D7B9D;
    border-color: #DEDFDE;
    border-style: solid;
    border-width: 1px;    
}
.columnaCorta
{
    height: auto;
    width: 200px;
}
.GrillaHeader
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 8pt;
    color: #E8E8E8;
    background-color: #5D7B9D;
    border-color: #DEDFDE;
    border-style: solid;
    border-width: 1px;
    height: 25px;
}
.GrillaFooter
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 8pt;
    color: Black;
    background-color: #5D7B9D;
    border-color: #8EB4E3;
    border-style: solid;
    border-width: 1px;
}
.GrillaPager
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 8pt;
    color: Black;
    background-color: #5D7B9D;
    border-color: #8EB4E3;
    border-style: solid;
    border-width: 1px;
}
.GrillaRowDistribucion
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 7pt;
    color: #002780;
    background-color: #E6EFF0;
    border-color: #8EB4E3;
    border-style: solid;
    border-width: 1px;
}
.GrillaRow
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 8pt;
    color: #002780;
    background-color: #E6EFF0;
    border-color: #8EB4E3;
    border-style: solid;
    border-width: 1px;
}
.GrillaRowAlternating
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 8pt;
    color: #002780;
    background-color: #FCFDFD;
    border-color: #8EB4E3;
    border-style: solid;
    border-width: 1px;
}
.GrillaSelectedRow
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 8pt;
    color: #002780;
    background-color: #E2DED6;
    border-color: #8EB4E3;
    border-style: solid;
    border-width: 1px;
}
.GrillaEditRow
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 8pt;
    color: #002780;
    background-color: #999999;
    border-color: #8EB4E3;
    border-style: solid;
    border-width: 1px;
}
.FondoFilaTituloTabla
{
    background-color: #5D7B9D;
    text-align: center;
}
.TextBoxReadOnly
{
    background-color: #E2E2E2;
    margin-right: 0px;
    color: Black;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;
}

.TextBoxReadOnly_Right
{
    background-color: #E2E2E2;
    margin-right: 0px;
    color: Black;
    font-weight: bold;
    text-align: right;
}

.TextboxFlat
{
    border: 1px solid #3366FF;
    font-family: Verdana;
}

.Grilla_Seleccion
{
    border: 2px solid #000080;
    font-family: Verdana, Tahoma, Arial;
    font-weight: bold;
    font-size: 8pt;
    color: #000000;
    background-color: #CAE4FF;
}
.GrillaCabecera
{
    font-family: Verdana, Tahoma, Arial;
    font-size: 8.5pt;
    color: #E8E8E8;
    background-color: #5D7B9D;
    border-color: #DEDFDE;
    border-style: solid;
    border-width: 1px;
    vertical-align: middle;
    text-align: center;
    height: 20px;
}

.FieldSetPanel
{
    border: 2px solid #4277AD;
    padding: 8px;
    height: auto;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    font-size: 10pt;
}

.FieldSetPanelReport
{
    border: 2px solid #4277AD;
    padding: 8px;
    height: auto;
    font-weight: bold;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    font-size: 10pt;
}

.Label_fsp /*Label para FieldSetPanel*/
{
    font-size: 10pt;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    text-align: right;
    font-weight: normal; /*Para que no herede la negrita de los componentes q lo contienen*/
}

.TextoUPPERCASE
{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
