﻿/*
'                            ADVERTENCIA
'Esta es una copia  del producto autorizada de DIGRAFIC  SRL.,  a SANICENTER SAC.,  en virtud al 
'contrato celebrado por ambas empresas, a fin de que el personal de  Sanicenter pueda efectuar las 
'modificaciones UNICAMENTE para los procesos de SANICENTER.
'Está prohibida su reproducción total o parcialmente.
'Si Ud. Tiene una copia de estos programas fuentes y quiere usarlos para otros fines que no sean 
'los descritos en el primer párrafo,  va a ser detectado y enjuiciado por la Empresa y DIGRAFIC  SRL. 
'De acuerdo a la ley de protección de los Derechos de Autor y la propiedad intelectual.
'
*/



.FieldSetPanel_OnlyBorder
{
    border: 2px solid #4277AD;
    padding: 8px;
    height: auto;
    color: #4277AD;
}

.PanelCodBarrasBackground
{
    background-color: #D4D4D4;
}



.modalBackground
{
    background-color: White;
    filter: alpha(opacity=60);
    opacity: 0.7;
    position: absolute;
}

.modalBackground2
{   
    background-color: White;
    filter: alpha(opacity=30);
    opacity: 0.7;
    position: absolute;
}

.modalPopup
{
    background-color: White;
    border-width: 3px;
    border-style: solid;
    border-color: Blue;
    padding: 1px;
}



.LabelTdLeft
{
    font-size: small;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #4277AD;
    text-align: left;
}

/*Textbox Watermark*/

.unwatermarked
{
    height: 18px;
    width: 148px;
}

.watermarked
{
    /*height:20px; 	width:150px;*/
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
}

