﻿<%@ Page Language="vb" AutoEventWireup="false"   MasterPageFile="~/Principal.Master"  CodeBehind="FrmReporteadorInventario.aspx.vb" Inherits="APPWEB.FrmReporteadorInventario" 
    title="Página sin título" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <table style="width: 550px">
                <tr>
                    <td style="background-color: background; text-align: center">
                        <asp:Label ID="Label1" runat="server" Font-Bold="True" ForeColor="White" Text="INVENTARIO VALORIZADO"></asp:Label></td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="Label2" runat="server" Text="Empresa:" Width="62px"></asp:Label>
                        <asp:DropDownList ID="DropDownList1" runat="server" Width="161px">
                            <asp:ListItem>INDUSFERR E.I.R.L.</asp:ListItem>
                            <asp:ListItem>Los Pinos E.I.R.L.</asp:ListItem>
                        </asp:DropDownList>
                        <asp:Label ID="Label3" runat="server" Text="Almacén:" Width="64px"></asp:Label>
                        <asp:DropDownList ID="DropDownList2" runat="server" Width="181px">
                            <asp:ListItem>Todos</asp:ListItem>
                            <asp:ListItem>Almac&#233;n I</asp:ListItem>
                            <asp:ListItem>Almac&#233;n II</asp:ListItem>
                            <asp:ListItem>Almac&#233;n III</asp:ListItem>
                        </asp:DropDownList></td>
                </tr>
                <tr>
                    <td>
                        <asp:Label ID="Label4" runat="server" Text="Reporte Por:" Width="88px"></asp:Label>
                        <asp:DropDownList ID="DropDownList3" runat="server" Width="355px">
                            <asp:ListItem>Aqu&#237; se listan todos los tipos de reportes</asp:ListItem>
                        </asp:DropDownList></td>
                </tr>
                <tr>
                    <td style="height: 33px">
                        <asp:Button ID="Button1" runat="server" Text="Aceptar" />
                        <asp:Button ID="Button2" runat="server" Text="Cancelar" /></td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>
