﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="frmExcel.aspx.vb" Inherits="APPWEB.frmExcel" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table width="100%">
            <tr>
                <td>
                    <asp:Table ID="tablaPrincipal" runat="server">
                    </asp:Table>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
