﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Principal.Master" CodeBehind="frmReporteVentasporTienda.aspx.vb" Inherits="APPWEB.frmReporteVentasporTienda" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<table >
<tr>
<td >
<table >
<tr>
<td>


 </td>
    <asp:Label ID="lblTitulo" runat="server" Text=""></asp:Label>

</tr>

</table>
</td>
</tr>
<tr>
<td>
<table >
<tr>
    <td>
        <asp:GridView ID="dgwVentasxTienda" runat="server" AutoGenerateColumns="true" HeaderStyle-BackColor="SkyBlue" >
            <RowStyle CssClass="GrillaRow" />
            <FooterStyle CssClass="GrillaFooter" />
            <SelectedRowStyle CssClass="GrillaSelectedRow" />
            <HeaderStyle CssClass="GrillaCabecera" />
            <EditRowStyle CssClass="GrillaEditRow" />
            <AlternatingRowStyle CssClass="GrillaRowAlternating" />
        </asp:GridView>
    </td>

</tr>

</table>
</td>
</tr>

</table>




 

</asp:Content>
