﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="FrmGuiaRemision_Load.aspx.vb" Inherits="APPWEB.FrmGuiaRemision_Load" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form_GuiaRemision_Load" runat="server" target="_self" >
    </form>
</body>
</html>
