﻿
@{
    Layout = null;
}


<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Style/style.css" rel="stylesheet" />
    <script>
        //$(document).ready(function ()
        //{
        //    "use strict";
        //    Login.init(); // Init login JavaScript
        //});
    </script>
</head>

<body>
    <div class="container">
        <div class="box-login">
            <div class="box-img">
                @*<img src="./img/React.js_logo.png" alt="">*@
            </div>
            <h2>Sanicenter Demo</h2>
            @using (Html.BeginForm("IniciarSesionSanicenter", "Seguridad", FormMethod.Post))
            {
            <form action="">
                <div class="inputBox">
                    <span class="logo-input">
                        <i class="fas fa-user"></i>
                    </span>
                    <input type="text" id="txtusuario" name="user" required />
                    <label for="">Usuario</label>
                </div>
                <div class="inputBox">
                    <span class="logo-input">
                        <i class="fas fa-key"></i>
                    </span>
                    <input type="password" id="txtpassword" name="password" required />
                    <label for="">Clave</label>
                </div>
                <div class="form-actions box-btn">                    
                    <button type="submit" class="btn">
                        Iniciar Sesion
                    </button>
                </div>                
                @*<div class="box-footer">
            <p>¿Aun no tienes cuenta?</p>
            <p>
                <b>¡Registrate!</b>
            </p>
        </div>*@
            </form>
            }
            </div>
    </div>
</body>

</html>